/*CORES PADRAO*/
:root{
		--cor-branco-principal:#fcfcfc;
		--cor-branco-secundario:#e4ddf0;

		--cor-lilas-principal:#d4cae9;
		--cor-lilas-secundario:#c2acf3;

		--cor-roxo-principal:#422680;

		--cor-cinza-principal:#e8e8e8;
}




body{
	background-color: var(--cor-lilas-principal);
}

.login-form{
	width:350px;
	margin:0 auto;
	padding:100px 0 30px;
}


.login-form form{
	color:var(--cor-roxo-principal);
	border-radius:2px;
	margin-bottom:15px;
	font-size:13px;
	background:var(--cor-branco-principal);
	padding:30px;
	position:relative;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-form .logo{
	position:absolute;
	margin:0 auto;
	left:0;
	right:0;
	width:115px;
	height:115px;
	top:-50px;
	


}

.login-form .logo img{
	width:100%;
	border-radius:50%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}


.login-form h2{
	font-size:18px;
	margin:45px 0 25px;
}

.form-control{
	min-height:40px;
	background: var(--cor-branco-secundario);
	box-shadow:none !important;
	border-color:var(--cor-cinza-principal);
}


.form-control:focus{
	border-color:var(--cor-roxo-principal);
}

.form-control, .btn{
	border-radius:2px;
}

.login-form .btn{
	font-size:16px;
	border-radius: 20px;
	background:var(--cor-roxo-principal);
	border:none;
	margin-bottom:20px;
}



.login-form .btn:hover, .login-form .btn:focus{
	background:var(--cor-lilas-principal) !important;
	outline: none !important;
	color:var(--cor-roxo-principal);
	
}

.login-form input[type="checkbox"]{
	margin-top:2px;
	}



.login-form form a{
	color:var(--cor-roxo-principal);
	text-decoration:none;
	
}

.login-form form a:hover{
	
	text-decoration:underline;
}
