/* 
Cores do Projeto

Lislas = #d4cae9;
Cor Forte = #280659;
Roxo Padroa= #422680;
Branco = #F5F5F5
*/

body{
    color: #422680;
    background-color: #d4cae9 !important;
}

.login-form{
    width: 350px;
    margin: 0 auto;
    padding: 100px 0 30px;

}

.login-form form{
    color:  #280659;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 13px;
    background-color: #f5f5f5;
    padding: 30px;
    position: relative;
    box-shadow: 0x 2px 2px rgba(0, 0, 0, 0.8);

}

.login-form .logo{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 115px;
    height: 155px;
    top: -50px;
}


.login-form .logo img{
    width:100%;
    border-radius: 50%;
    box-shadow: 0x 2px 2px rgba(0, 0, 0, 0.1);
}

.login-form h2{
    font-size: 22px;
    margin: 45px 0 5px;
}
.login-form h3{
    font-size: 15px;
}


.form-control{
    min-height: 40px;
    margin-bottom: 15px;
    background: #f5f5f5;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none !important;

    border-bottom-style: solid; 
    border-bottom-color: #280659 ;
}

.form-control:focus{
    border-bottom-style: solid; 
    border-bottom-color: #422680 ;
}
.form-group, .btn{
    border-radius: 30px; 
}

.login-form .btn{
    font-size: 16px;
    font-weight: bold;
    background: #422680;
    border-color: #422680;
    border-style: solid;
    margin-bottom: 20px;     
   
}

.login-form .btn:hover, .login-form .btn:focus{
  
    font-weight: bold;
    background: #f5f5f5;
    border-color: #422680;
    color: #422680;

      
}

.login-form input[type="checkbox"]{
    margin-top: 2px;  
    color: #422680;      
}

.login-form form a{
    color: #422680;
    text-decoration: none;

}
.login-form form a:hover{
    color: #280659;
    text-decoration: underline;
}


