/*CORES PADRAO*/
:root{
	--cor-branco-principal:#fcfcfc;
	--cor-branco-secundario:#e4ddf0;

	--cor-lilas-principal:#d4cae9;
	--cor-lilas-secundario:#c2acf3;
	
	--cor-roxo-principal:#422680;
	
	--cor-cinza-principal:#e8e8e8;
}


body{
	background-color:var(--cor-branco-principal);
}

.navbar{
	background-color:var(--cor-cinza-principal) !important;
}

.navbar img{
	width:200px;
}

.navbar li{
	list-style: none;
}

.navbar a{
	color:var(--cor-roxo-principal);
	font-size:15px;
}

.navbar a:hover{
	color:var(--cor-lilas-principal);
	
}


.nav{
	background-color:var(--cor-branco-principal)!important;
}

.nav a{
	color:#071e51;
	font-size:14px;
}

.nav .active{
	background-color:var(--cor-roxo-principal) !important;
}



.card{
	width:280px;
	border-radius:10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	margin:0 auto;

}

.card-body{
	padding-bottom:2px !important;
	padding-top:10px !important;
}

.card p{
	margin:0;
	padding:0;

}

.icone-card{
	font-size:70px;
}

.titulo-card{
	font-size:15px;
	text-align:right;

}

.subtitulo-card{
	font-size:40px;
	text-align:right;
}

.rodape-card{
	font-size:13px;
	text-align:center;

}


.badge{
	background-color:var(--cor-cinza-principal) !important;
	color: var(--cor-branco-principal);

}


.nav .active .badge{
	background-color:var(--cor-branco-principal) !important;
	color:var(--cor-cinza-principal)  !important;
}


.btn-secondary{
	background-color:var(--cor-lilas-principal)  !important;
}

.btn-secondary:hover{
	background-color:var(--cor-roxo-principal)  !important;
}


.registro{
	font-size:15px;
	margin-right:5px;
}


.botao-novo{
	margin-bottom:35px;
}