/* 
Cores do Projeto

Lislas = #d4cae9;
Cor Forte = #280659;
Roxo Padroa= #422680;
Branco = #F5F5F5
*/

body{
    background: #d4cae9;
}

.navbar{
    background-color:#F5F5F5 !important;
}

.navbar img{
    width: 300px;
    margin: 10px;
}

.navbar li{
    list-style: none;
}

.navbar a{
    color: #422680;
    font-size: 15px;
}

.navbar a:hover{
    color: #422680;
}